#include "/home/wlong/.colorschemes/CURRENT.Xresources"

Xcursor.theme:          BREEZE_SNOW

!! dmenu settings
dmenu*background:	    color06
dmenu*foreground:   	color0F
dmenu*selbackground:    color08
dmenu*selforeground:    color07

!! URxvt settings
URxvt*scrollBar:	    false
URxvt*urlLauncher:	    firefox
URxvt*font:		        xft:Source Code Pro:Regular
URxvt*boldfont:		    xft:Source Code Pro:Bold
