#include "/home/wlong/.colorschemes/CURRENT_COLORSCHEME"

Xcursor.theme:          breeze-snow

!! dmenu settings
dmenu*background:	    base0E
dmenu*foreground:   	base01
dmenu*selbackground:    base07
dmenu*selforeground:    base04

!! URxvt settings
URxvt*scrollBar:	    false
URxvt*urlLauncher:	    firefox
URxvt*font:		        xft:Source Code Pro:Regular
URxvt*boldfont:		    xft:Source Code Pro:Bold
